<!DOCTYPE html>
<html lang="en">
    {{> head}}
    <body class="gradient">
        {{> header}}
        <main>
            <div class="container d-flex flex-row flex-wrap align-self-center justify-content-around w-75 h-auto p-5 mt-4  bg-light rounded-3 shadow-lg">
                {{#availability}}
                <h2 class="mb-3 text-center"><span class="fw-light">We have found the following available departures for</span> {{tour_name}} </h2>
                <div class="w-25 p-3 d-flex flex-column align-items-center mt-5">
                <form action="/book" method="POST">
                    <h5>
                        Starts: {{start_date}} at {{start_time}} 
                    </h5>
                    <h5>Ends: {{end_date}} at {{end_time}}</h5>
                    <h5>Prices breakdown:</h5>
                        <h6>{{price_row}}</h6>
                    <h6>Total: {{{total}}}</h6>
                    <button class="w-50 align-self-center p-3 btn btn-primary"  type="submit" >
                        <i class="bi bi-heart"></i> Select
                    </button>
                </form>
                </div>
                
                {{/availability}}
                {{#error}}
                    <h4 class="mb-3 text-center alert alert-danger">{{error}}</h4>
                {{/error}}

                <!--It isn't working properly-->
                <div class="mt-4 text-center">
                    <a href="/tours/show" class="btn btn-primary">
                        <i class="bi bi-arrow-left"></i> Back to Tour
                    </a>
                </div>            
            </div>
        </main>
        {{> footer}}
    </body>
</html>