<!DOCTYPE html>
<html lang="en">
    {{> head}}
    <body class="gradient">
        {{> header}}
        <main>
            <section>
                <div class="container py-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="text-center">
                                <h1 class="fw-semibold">Search a customer</h1>
                            </div>
                            <div class="mt-5 card bg-dark text-white" style="border-radius: 1rem;">
                                <div class="card-body p-5 text-center">
                                    <form action="/customers/search" method="POST">
                                        <div class="form-group">
                                            <label class="mb-3 fw-semibold" for="customer_id">Enter your customer id</label>
                                            <input type="text" name="customer_id" id="customer_id" class="form-control">
                                        </div>
                                        <div class="mt-4">
                                            <input type="submit" name="submit" id="submit" value="Search" class="btn btn-primary btn-block">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        {{> footer}}
    </body>
</html>