  {{> head}}
  <body class="vh-100 gradient-custom">
    <header>
      <div class="mt-4 container-fluid d-flex justify-content-between align-items-center px-5">
        <img src="../../assets/imgs/logo.png" alt="palisis-logo" width="200px">
      </div>
    </header>
    <section>
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="shadow card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                {{#error}}
                <div class="alert alert-danger error-message">
                  {{error}}
                </div>
                {{/error}}
                <p class="text-white-50 mb-5">Please enter your login and password!</p>
                <form action="/login/process" method="POST">
                  <div class="mb-4">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Enter your email" required>
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Enter your password" required>
                  </div>
                  <p class="small mb-5">
                    <a class="text-white-50" href="#!">Forgot password?</a>
                  </p>
                  <button type="submit" class="btn btn-outline-light btn-lg px-5">Login</button>
                  <div class="d-flex justify-content-center text-center mt-4">
                    <a href="#!" class="text-white mx-2"><i class="fab fa-facebook-f fa-lg"></i></a>
                    <a href="#!" class="text-white mx-2"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="#!" class="text-white mx-2"><i class="fab fa-google fa-lg"></i></a>
                  </div>
                </form>
                <p class="mt-4">Don't have an account? 
                  <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>